.storageItem{
    display: flex;
    align-items: center;
    gap: 20px;
    width: calc(100% - 10px);
    img{
        height: 40px;
    }
    .content{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;
        width: calc(100% - 50px);
    }
    .data{
        display: flex;
        justify-content: space-between;
    }
    .name{
        font-weight: 500;
        color: #000
    }
}