.container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.image{
    display: block;
    width: 50px;
    height: 50px;
    &.rounded{
        border-radius: 50%;
    }
}

.text{
    font-weight: 500;
    color: #000;
}