.container{
    display: flex;
    gap: 0px;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media(min-width: 1000px){
    .container{
        flex-wrap: nowrap;
        gap: 30px;
    }
}